# Name: Gold Oviroro

# AltSchool Learner ID: ALT/SOD/025/4866

# Registered Email: Lovelyigho@gmail.com

# Question 1

Write a code that prompts a user requesting his/her e-mail and then extracts the user

first name (Note that the e-mail is in firstname.lastname@gmail.com

In [7]:
email = input("Please enter your email (format: firstname.lastname@gmail.com): ")
name_part = email.split("@")[0]
first_name = name_part.split(".")[0]
print("Your first name is:", first_name.capitalize())

Please enter your email (format: firstname.lastname@gmail.com): lovely.igho@gmail.com
Your first name is: Lovely

# Question 2

Write a code to remove the duplicates from the following list:

my_list = [‘GOOG’, ‘APPL’, ‘T’,’TSLA’,’T’,’AAPL’, 5, 6,5]

In [11]:
my_list = ['GOOG', 'APPL', 'T', 'TSLA', 'T', 'AAPL', 5, 6, 5]
unique_list = list(set(my_list))
print(unique_list)

['APPL', 'AAPL', 5, 6, 'GOOG', 'T', 'TSLA']

In [12]:
my_list = ['GOOG', 'APPL', 'T', 'TSLA', 'T', 'AAPL', 5, 6, 5]
unique_list = []
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)
print(unique_list)

['GOOG', 'APPL', 'T', 'TSLA', 'AAPL', 5, 6]

# Question 3

Write a code that takes in the maximum and minimum limits from the user and prints out

even numbers only between the provided range.

In [2]:
min_limit = int(input("Enter the minimum number: "))
max_limit = int(input("Enter the maximum number: "))
print(f"Even numbers between {min_limit} and {max_limit} are:")
for num in range(min_limit, max_limit + 1):
    if num % 2 == 0:
        print(num)

Enter the minimum number: 2
Enter the maximum number: 40
Even numbers between 2 and 40 are:
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40

# Question 4

Write a code that generates the following table:

1 1 1

2 4 8

3 9 27

4 16 64

5 25 125

6 36 216

7 49 343

8 64 512

9 81 729

10 100 1000

In [8]:
print("One  two  three")
print("_")

for num in range(1, 11):
    two = num ** 2
    three = num ** 3
    print(f"{num:<7} {two:<7} {three}")

One  two  three
_
1       1       1
2       4       8
3       9       27
4       16      64
5       25      125
6       36      216
7       49      343
8       64      512
9       81      729
10      100     1000

# Question 5

Write a code that displays numbers from 1 to 30 (including 30) using for and while loops

In [9]:
# For loop
print("Numbers from 1 to 30 using for loop:")

for num in range(1, 31):
    print(num)

Numbers from 1 to 30 using for loop:
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [10]:
# While loop
print("\nNumbers from 1 to 30 using while loop:")

num = 1
while num <= 30:
    print(num)
    num += 1

Numbers from 1 to 30 using while loop:
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

# Question 6

 Create a rolling dice game that assume we have two dice (#1 and #2). The dice is being  thrown and a random number is generated everytime. The game should be designed such that it prompts the user to ask if he/she would like to keep playing or exit the game.

 Hint (import random, and use random.randint to generate random numbers)

In [28]:
import random
print("Welcome to the Rolling Dice Game!")

while True:
    dice1 = random.randint(1, 6)
    dice2 = random.randint(1, 6)

    print(f"\nYou rolled: Dice #1 = {dice1}, Dice #2 = {dice2}")
    print(f"Total = {dice1 + dice2}")

    choice = input("Do you want to roll again? (yes/no): ").lower()

    if choice == "no":
        print("\nThanks for playing! Goodbye")
        break

Welcome to the Rolling Dice Game!

You rolled: Dice #1 = 6, Dice #2 = 4
Total = 10
Do you want to roll again? (yes/no): No

Thanks for playing! Goodbye

# Question 7

Write a code that continuously gets data from the user and calculates the average and

print out on the screen. The code exits when the user enters ‘e’.

# Question 8

Write a code that takes in a number (range between 1 and 9) from the user and print out

the multiplication table up until that number.

In [11]:
num = int(input("Enter a number between 1 and 9: "))

if 1 <= num <= 9:
    print(f"\nMultiplication table up to {num}:\n")
    for i in range(1, num + 1):
        for j in range(1, num + 1):
            print(f"{i} x {j} = {i*j}")
        print()
else:
    print("❌ Please enter a number between 1 and 9.")

Enter a number between 1 and 9: 5

Multiplication table up to 5:

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

# Question 9

Write a code that takes in two inputs (number of units and prices) from the user and

calculate the total account balance

In [12]:
units = int(input("Enter the number of units: "))
price = float(input("Enter the price per unit: "))

total_balance = units * price

print(f"\nYour total account balance is: {total_balance:.2f}")

Enter the number of units: 50
Enter the price per unit: 1000

Your total account balance is: 50000.00

# Question 10

Write a function that takes an argument and return its cubic value

*- Define a list of integers ranging from -10 to 10

*- Apply the function to the entire list and generate a new output list

In [13]:
def cubic(n):
    return n ** 3

numbers = list(range(-10, 11))

cubic_values = list(map(cubic, numbers))

print("Original list:", numbers)
print("Cubic values :", cubic_values)

Original list: [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Cubic values : [-1000, -729, -512, -343, -216, -125, -64, -27, -8, -1, 0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# Question 11

Write a code from the user that takes in a range (upper and lower bounds) and returns a

list of positive and even numbers only

In [14]:
lower = int(input("Enter the lower bound: "))
upper = int(input("Enter the upper bound: "))

# Find positive and even numbers in the range
result = []

for num in range(lower, upper + 1):
    if num > 0 and num % 2 == 0:
        result.append(num)

print(f"\nPositive even numbers between {lower} and {upper} are:")
print(result)

Enter the lower bound: -10
Enter the upper bound: 20

Positive even numbers between -10 and 20 are:
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Question 12

Write a code that takes in 2 lists x = [-1 -4 -7] and y = [-3 7 4] and calculates the absolute

sum of all its elements |x+y|

In [15]:
x = [-1, -4, -7]
y = [-3, 7, 4]

In [16]:
z = [a + b for a, b in zip(x, y)]

abs_sum = sum(abs(val) for val in z)

print("Element-wise sum:", z)
print("Absolute sum |x+y|:", abs_sum)

Element-wise sum: [-4, 3, -3]
Absolute sum |x+y|: 10

# Question 13

Write a code that takes a number from the user and indicates if it’s positive or negative

or zero

In [18]:
num = float(input("Enter a number: "))
if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 0.9
The number is positive.

In [19]:
num = float(input("Enter a number: "))
if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: -2.3
The number is negative.

In [20]:
num = float(input("Enter a number: "))
if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 0
The number is zero.

# Question 14

Write a code that takes a number from the user and checks if the number is divisible by

3 but is not a multiple of 7

In [23]:
num = int(input("Enter a number: "))
if num % 3 == 0 and num % 7 != 0:
    print(f"{num} is divisible by 3 but not a multiple of 7.")
else:
    print(f"{num} does not meet the condition.")

Enter a number: 120
120 is divisible by 3 but not a multiple of 7.

# Question 15

Write a code that takes a number from the user and indicate if the number is even or odd

In [26]:
# Using the modulo operator
num = int(input("Enter a number: "))
if num % 2 == 0:
    print(f"{num} is an even number.")
else:
    print(f"{num} is an odd number.")

Enter a number: 52
52 is an even number.